* {
	-fx-primary-color: "#393646";
	-fx-secondary-color: "#6D5D6E";

	-fx-focus-color: -fx-secondary-color;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.text-area {
    text-area-background: transparent, "#171717", transparent, "#171717";
    -fx-text-fill: "#fff";
}

.text-area:disabled {
    text-area-background: "#4F4557" ;
    -fx-text-fill: "#fff";
    -fx-opacity: 1;
}

.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-border-color: "#000";
}


.button {
    -fx-background-color: "#393646";
}
.button:hover {
    -fx-background-color: "#000";
}

.tab-header-area .tab-header-background {
 	-fx-background-color: -fx-primary-color;
}
.tab-pane .tab:selected {
	-fx-background-color: "#000";
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}
.tab .tab-label {
 	-fx-alignment: CENTER;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 0 10 0 10;
}
.tab-pane .tab:hover {
	-fx-background-color: "#000";
	-fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.tab-pane:top *.tab-header-area {
	-fx-padding: 0 0 0 30;

	/* NO SPACE LEFT OF FIRST TAB */
	/* -fx-padding: 0 0 0 30; */
}
.tab-pane {
	-fx-background-color: transparent;
	-fx-tab-min-width: 100px;
	-fx-tab-min-height: 30px;
	-fx-tab-max-height: 30px;
}
.tab-pane .tab {
	-fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
 	-fx-border-width: 0;
	-fx-border-insets: 0 0 0 0;
	-fx-border-radius: 0;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background: "#171717";
   -fx-border-color: "#000";
}