/*estilos gerais*/
* {
	-fx-primary-color: "#393646";
	-fx-secondary-color: "#6D5D6E";

	-fx-focus-color: -fx-secondary-color;
}

/*Estilo para os text area*/

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.text-area {
    text-area-background: "#171717";
    -fx-text-fill: "#fff";
    -fx-background-color: transparent, "#171717", transparent, transparent;
    -fx-background-radius: 0, 0, 0, 0;
}

.text-area:disabled {
    text-area-background: "#4F4557" ;
    -fx-text-fill: "#fff";
    -fx-opacity: 1;
}

.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-border-color: "#000";

}
/*.text-area:focused .content {
    -fx-background-color: transparent, black, transparent, black;
}*/

/*Estilo para os botoões na barra superior do aplicativo*/

.button {
    -fx-background-color: "#393646";
}
.button:hover {
    -fx-background-color: "#000";
}

/*Estilo para o tabPane na parte inferior do aplicativo */

.tab-header-area .tab-header-background {
 	-fx-background-color: -fx-primary-color;
}
.tab-pane .tab:selected {
	-fx-background-color: "#000";
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}
.tab .tab-label {
 	-fx-alignment: CENTER;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 0 10 0 10;
}
.tab-pane .tab:hover {
	-fx-background-color: "#000";
	-fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.tab-pane:top *.tab-header-area {
	-fx-padding: 0 0 0 30;

	/* NO SPACE LEFT OF FIRST TAB */
	/* -fx-padding: 0 0 0 30; */
}
.tab-pane {
	-fx-background-color: transparent;
	-fx-tab-min-width: 100px;
	-fx-tab-min-height: 30px;
	-fx-tab-max-height: 30px;
}
.tab-pane .tab {
	-fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
 	-fx-border-width: 0;
	-fx-border-insets: 0 0 0 0;
	-fx-border-radius: 0;
}

/*Estilo para os scrollPane*/

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background: "#171717";
   -fx-border-color: "#000";
}

/*Estilo para o menuBar na parte superior do aplicativo*/

.menu-bar {
    /* The menu bar itself */
    -fx-background-color: -fx-primary-color;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
.menu {
    /* The File menu item */
    -fx-background-color: -fx-primary-color;
}
.menu:showing {
    /* menu when it's being shown (activated) */
    -fx-background-color: black;
}
.menu .label {
    /* Styles the text on a menu item */
    -fx-text-fill: white;
}

.menu:hover {
    -fx-background-color: black;
}
.menu:showing .label { /* Styles the text on a menu item when activated */ }

.menu-item {
    -fx-text-fill: white;
    -fx-background-color: -fx-primary-color;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
.menu-item:hover {
    -fx-background-color: black;
}

.context-menu {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";*/
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/*.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: blue;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 *
}*/